.login-out
{
    display: grid;
    height: 100vh;
    place-items: center;
}
.login
{
    background-color: lightgrey;
    text-align: center;
    border-radius: 20px;
    width: 400px;
}
.login button
{
    background-color: rgb(32, 219, 32);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px 10px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}